body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}

.visually-hidden {
    margin: -1px;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
}

.title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
/* =============HEADER=============== */

.logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-part{
    color: #2e2f42;
}
.nav-link{
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus{
    color:#404bbf;
}

 /* ==================================== */

 /* ==============HERO================== */
.hero {
    background: #2e2f42;
}

.hero-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
    background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
background: #404bbf;
}

/* ======================================== */

/* ==============FEATURES================== */

.features {
   
}

.features-list {}

.features-itm {
    
}

.features-subtitle {
}

.features-itm-text {
}

/* ======================================== */

/* =================TEAM=================== */


.team {
    background: #f4f4fd;
}

.team-title {
}

.team-list {}

.team-itm {background: #fff;}

.team-imege {}

.team-subtitle {
        text-align: center;
}

.team-text {
        text-align: center;
}


/* ======================================== */

/* =================TEAM=================== */


.portfolio {}

.portfolio-title {
}

.portfolio-subtitle {
}

.portfolio-list {}

.portfolio-itm {}

.portfolio-imege {}

.features-itm-text {
 }


/* ======================================== */

/* =================FOOTER=================== */


.footer {
    background: #2e2f42;
}

.logo-footer-part {
        color: #f4f4fd;
}

.footer-text {
        color: #f4f4fd;
}

/* ======================================== */ 